[dir="rtl"] .search {
    margin-right: 3rem !important;
    

  }
  
  @media only screen and (max-width: 600px) {
    .person{
position: absolute;
top:2rem;
right: 1.5rem;
    }
  }

  .emptycart{
    width: 20rem;
    
    height: 20rem;
  }